:root {
    --background-color: #243546;
    --text-color: #DDDDDD;
    --primary-color: #2196F3;
    --primary-foreground: #222831;
    --secondary-color: #F05454;
    --tech-stack-bg-color: #A3A3A3;
    --link-color: #FFEB3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto; /* Centers the content horizontally */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content vertically for flex children */
    background: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

header {
    color: var(--primary-color);
    text-align: center;
    padding: 0;
    padding-top: 25vh;
    width: 100%;
    position: relative;
}

header h1 {
    font-size: 4rem;
}

header h3 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

#projects {
    display: flex;
    flex-direction: column;
}

#projects h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.project {
    display: flex;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background: var(--primary-foreground);
}

.project img {
    max-width: 200px;
    margin-right: 1rem;
    border-radius: 8px;
    object-fit: contain;
}

.project-details {
    flex-grow: 1;
}

.project-details h3 {
    margin: 0.5rem 0;
}

.tech-stack {
    margin-top: 1rem;
}

.tech-stack .bordered {
    display: inline-block;
    border: 2px solid var(--secondary-color);
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    padding-bottom: 0.3rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.links {
    margin-top: 1rem;
}

.links a {
    display: inline-block;
    margin-right: 1rem;
    color: var(--links-color);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    -moz-appearance: button;
    -ms-appearance: button;
    -o-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 0.2em 0.4em;
}

.links .primary {
    background: var(--primary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.links .secondary {
    padding: 0.2em 0.4em;
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.1);
    border: 2px solid var(--primary-color);
}

#contact h2 {
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contact {
    list-style: none;
    text-align: center;
}

footer {
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    bottom: 0;
}

#contact ul {
    list-style: none;
}

@media (max-width: 600px) {
    .project {
        flex-direction: column;
        align-items: center;
    }
    
    .project img {
        margin: 0 0 1rem 0;
        max-width: 100%;
    }
}
